@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template: 1fr 6fr/ 1fr 4fr;
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    background-color: black;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 15px;
}

ul {
    list-style: none;
    display: grid;
    gap: 15px;
}

#sidebar-header {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

#sidebar-communities {
    margin-bottom: 30px;
}

li {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

li svg {
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
}

li p {
    grid-column: 2 / 3;
    align-self: center;
}


.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    box-shadow: 0 3px 5px rgb(57, 63, 72, 0.3);
    z-index: 1;
    padding: 15px;
}

.top {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.search {
    flex: 1;
}

input {
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: lightgray;
    padding: 5px;
}

input:focus {
    outline: none;
}

.icons, .search {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.icons img {
    height: 32px;
    border-radius: 50%;
}

.main-content {
    background-color: darkgray;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}